<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CustomSettings.GitHubRepoSegment" value="/redheadTriss?tab=repositories"/>
    <add key="CustomSettings.SinsCount" value="1"/>
    <add key="CustomSettings.ToBeOrNotToBe" value="true"/>
    <add key="CustomSettings.Browser" value="InternetExplorer"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
